<div class="container">
  <div class="row mt-5">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <table>
        <tr>
          <th>
            Username
          </th>
          <th>
            Password
          </th>
          <th>
            Usertype
          </th>
          <th>
            Edit
          </th>
          <th>
            User
          </th>
        </tr>
        <tr>
          <td>
            <input placeholder="username" [(ngModel)]="usertoinsert.username">
          </td>
          <td>
            <input placeholder="password" [(ngModel)]="usertoinsert.password">
          </td>
          <td>
            <select placeholder="usertype" [(ngModel)]="usertoinsert.usertype">
              <option value="AMMINISTRATORE">AMMINISTRATORE</option>
              <option value="CORRIERE">CORRIERE</option>
              <option value="UTENTE">UTENTE</option>
            </select>
          </td>
          <td>
            <button (click)="insert(usertoinsert)">Insert</button>
          </td>
          <td>
            <button (click)="clear()">Clear</button>
          </td>
        </tr>
        <tr *ngFor="let user of users">
          <td>
            <input [(ngModel)]="user.username">
          </td>
          <td>
            <input [(ngModel)]="user.password">
          </td>
          <td *ngIf="user.usertype != 'AMMINISTRATORE' else admin">
            <select [(ngModel)]="user.usertype">
              <option [selected]="user.usertype===AMMINISTRATORE" value="AMMINISTRATORE">AMMINISTRATORE</option>
              <option [selected]="user.usertype===CORRIERE" value="CORRIERE">CORRIERE</option>
              <option [selected]="user.usertype===UTENTE" value="UTENTE">UTENTE</option>
            </select>
          </td>
          <ng-template #admin>
            <td>
              <input [(ngModel)]="user.usertype" disabled>
            </td>
          </ng-template>
          <td *ngIf="user.usertype != 'AMMINISTRATORE' else adminSave">
            <button (click)=update(user)>Save</button>
          </td>
          <ng-template #adminSave>
            <td  colspan="2">
              <button (click)=update(user)>Save</button>
            </td>
          </ng-template>
          <td *ngIf="user.usertype != 'AMMINISTRATORE'">
            <button (click)="delete(user)">Delete</button>
          </td>          
        </tr>
      </table>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>