form{
    margin-top:48%;
    width: 100%;
    padding: 2%;
    border-radius:0;
    border-color: crimson;
}

img{
    position: inherit;
    width:50%;
    margin: 12%;
    background-image: url('../../assets/HomeBox.png');
}

input, input:hover, input::selection, input:checked, input:focus{
    border: 0;
    background-color: darkorange;
    border-radius: 0;
    color: white;
    border-bottom: 1px solid crimson;
    margin: 0px; 
}

.container-fluid{
    background-color: darkorange;
    height: 100vh;
    display: flex;
}
input::placeholder{
    color: white;
}
.form-control{
border: none;
background-color: darkorange;
color: white;
border-bottom: 1px solid white;
}

.login{
border: none;
background-color: darkorange;
color: white;
border: 1px solid white;
border-radius: 2px;
padding-top: 2%;
padding-right: auto;
padding-bottom: 2%;
padding-left: auto;
}

#image{
    width:30%;
    margin-top: 12%;
    margin-left: 12%;
    padding: 10%;
    height: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../assets/HomeBox.png');
    float:left;
}

.login-wrap{
    float: right;
    width:30%;
    margin-right: 10%;
    margin-left: 10%;
    align-content: center;
}

.row-contetn{
    margin-left: 12%;
    margin-right: 12%;
    align-content: center;
}

.col-md-5{
    align-content: center;
}

.col-md-7{
    align-content: center;
}

p{
font-size: 14px;
color: white;
}