<div class="container">
  <div class="row mt-5">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <table>
        <tr>
          <th>
            Prodotto
          </th>
          <th>
            Capienza
          </th>
          <th>
            Edit
          </th>
          <th>
            Delete
          </th>
        </tr>
        <tr>
          <td>
            <select [(ngModel)]="id_oggetto">
              <option *ngFor="let oggetto of oggettolist" ngValue="{{oggetto.id}}">{{oggetto.nome}}</option>
              <option value="">Vuoto</option>
            </select>
            <td>
              <input placeholder="Capienza" name="capienza" [(ngModel)]="magazzinotoinsert.capienza">
            </td>
            <td>
              <button (click)="insertMagazzino(magazzinotoinsert, id_oggetto)">Inserisci</button>
            </td>
            <td>
              <button (click)="clear()">Clear</button>
          </td>
        </tr>
        <tr *ngFor="let magazzino of magazzinolist">
          <select [(ngModel)]="id_oggetto">
            <option *ngIf="magazzino.oggetto!=null"  
            [selected]="true == true" ngValue="{{magazzino.oggetto.id}}">{{magazzino.oggetto.nome}}</option>
            <option *ngFor="let oggetto of oggettolist" ngValue="{{oggetto.id}}">{{oggetto.nome}}</option>
            <option value="">Vuoto</option>
          </select>
          <td>
            <input name="capienza" [(ngModel)]="magazzino.capienza">
          </td>
          <td *ngIf="magazzino.cancellato == false else reinsert">
            <button (click)="updateMagazzino(magazzino, id_oggetto)">Salva</button>
          </td>
          <ng-template #reinsert>
            <td>
              <button (click)=reinsertMagazzino(magazzino)>Attiva</button>
            </td>
          </ng-template>
          <td  *ngIf="magazzino.cancellato == false && magazzino.oggetto == null else notDelete">
            <button (click)="deleteMagazzino(magazzino)">Elimina</button>
          </td>  
          <ng-template #notDelete>
            <td>
              <button (click)="deleteMagazzino(magazzino)" disabled>Elimina</button>
            </td>
          </ng-template> 
        </tr>
      </table>
    </div>
  </div>
</div>