<table class="table">
    <tr>
        <th>Nome</th>
        <th>Dimensione</th>
        <th> </th>
    </tr>
    <tr *ngFor="let oggetto of oggettolist">
        <td>
          <input type="text" placeholder="{{oggetto.nome}}" name="Nome" [(ngModel)]="oggetto.nome">
        </td>
        <td>
            <input type="text" placeholder="{{oggetto.dimensione}}" name="Dimensione" [(ngModel)]="oggetto.dimensione">
          </td>
          <td><button (click)="clear(oggetto)">Clear</button> </td>
    </tr>    
</table>