<table class="table">
  <tr>
      <th>Nome</th>
      <th>Dimensione</th>
      <th> </th>  
      <th> </th>
  </tr>
  <tr *ngFor="let magazzino of magazzinolist">
      <td>
        <input type="text" placeholder="{{magazzino.oggetto.nome}}" name="Nome">
      </td>
      <td>
          <input type="text" placeholder="{{magazzino.oggetto.dimensione}}" name="Dimensione">
        </td>
      <td> 
        <button (click)="setCodice(codice,user,magazzino)">Aggiungi al carrello</button>
      </td>
  </tr>    
</table>