<div class="container">
  <div class="row mt-5">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <table>
        <tr>
          <th>
            Username
          </th>
          <th>
            Password
          </th>
          <th>
            Tipo
          </th>
        </tr>
        <tr>
          <td>
            {{userRead.username}}
          </td>
          <td>
            {{userRead.password}}
          </td>
          <td>
            {{userRead.usertype}}
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>

